.fl{
	float: left;
}
.fr{
	float: right;
}
.center{
	text-align: center;
}
.gray{
	color: #666666 !important;
}
.bg_gray{
	background: #666 !important;
	color: #fff !important;
	border: 1px solid #666 !important; 
}
a{
	color:#6C6C6C !important;
}
.bg_white{
	background:#fff;
}
.p5{
	    padding: 0.25rem;
}