<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/font-icons.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="css/application.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/font.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/vue.min.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-header">
            <h3>应用列表</h3>
        </div>
        <div class="um-content">	
            <!-- row1 -->
            <div class="um-grid um-row box">
            	<div class="um-grid-row tc um-border-bottom">
            		<div @click='toClient(index)' class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row1">
            			<a href="#" class="um-circle um-black">
                            <i class="blue icon iconfont" :class='item.icon'></i>
            				<div class="f12 mt5" v-text='item.text'></div>
            			</a>
            		</div>
            	</div>
            	<div class="um-grid-row tc um-border-bottom">
            		<div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row2">
            			<a href="#" class="um-circle um-black">
            				<i class="orangle icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
            			</a>
            		</div>
            	</div>
                <div class="um-grid-row tc um-border-bottom">
                    <div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row3">
                        <a href="#" class="um-circle um-black">
                            <i class="orangle icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
                        </a>
                    </div>
                </div>
                <div class="um-grid-row tc um-border-bottom">
                    <div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row4">
                        <a href="#" class="um-circle um-black">
                            <i class="yellow icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row2 -->
            <div class="um-grid um-row box">
                <div class="um-grid-row tc um-border-bottom">
                    <div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row5">
                        <a href="#" class="um-circle um-black">
                            <i class="blue icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
                        </a>
                    </div>
                </div>
                <div class="um-grid-row tc um-border-bottom">
                    <div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row6">
                        <a href="#" class="um-circle um-black">
                            <i class="orangle icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
                        </a>
                    </div>
                </div>
                <div class="um-grid-row tc um-border-bottom">
                    <div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row7">
                        <a href="#" class="um-circle um-black">
                            <i class="yellow icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row3 -->
            <div class="um-grid um-row box">
                <div class="um-grid-row tc um-border-bottom">
                    <div class="um-bgc-white" :class='{"borderR":item.text != ""}' v-for="(item,index) in list.row8">
                        <a href="#" class="um-circle um-black">
                            <i class="blue icon iconfont" :class='item.icon'></i>
                            <div class="f12 mt5" v-text='item.text'></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src='./js/application.js'></script>
